:root {
	color: white;
	background-color: #1C1C1C;
	--stroke-color: rgba(255, 255, 255, 0.5);
	--surface-color: rgba(255, 255, 255, 0.1);
 	--surface-color-hover: rgba(255, 255, 255, 0.05);
 	--highlight-color: rgba(255, 255, 255, 0.2);
}

 	.light {
 		color: black;
 		background-color: #FFFFFF;
 		--stroke-color: rgba(0, 0, 0, 0.5);
 		--surface-color: rgba(0, 0, 0, 0.05);
 		--highlight-color: rgba(0, 0, 0, 0.1);
 	}

/* container */

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container header {
	width: 50%;
	margin: 54px 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container header img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin-left: 7px;
}

.container header div {
	display: flex;
	align-items: center;
}

.container input {
	width: 50%;
	padding: 24px;


	background: #E6E6E6;
	border-radius: 5px;
	border: none;

	font-size: 16px;
}

.container button {
	width: 50%;
	padding: 24px;
	font-weight: 700;

	background: #EA4C89;
	color: #FFFFFF;

	border-radius: 5px;
	margin: 12px 0 24px;
	border: none;

	cursor: pointer;
	transition: filter 0.2s;

	font-size: 16px;
}

.container button:hover {
	filter: brightness(0.9);
}

/* switch */

	#switch {
		position: relative;
		width: 64px;

		margin: 4px auto 30px;
	}

	#switch button {
		width: 30px;
		height: 50px;
		background-color: #ECECEC;
		border: 0;
		border-radius: 100%;
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		top: 30%;
		left: 0;
		z-index: 1;
		transform: translateY(-55%);

		animation: slide-back 0.2s;
	}

	.light #switch button {
		animation: slide-in 0.2s forwards;
	}

	#switch button:hover {
		outline: 8px solid var(--highlight-color);
	}

	#switch span {
		display: block;
		width: 70px;
		height: 25px;
		background: var(--surface-color);
		border: 1px solid var(--stroke-color);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 9999px;
	}

	.svg-icons {
		margin-top: 3px;
	}

	/* animation */
	@keyframes slide-in {
		from {
			left: 0;
		}
		to {
			left: 50%;
		}
	}

	@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

	@media (max-width: 430px) {
		.container input, #add-student{
			width: 90vw;
		}
		h1 {
			font-size: 16px;

		}
		.container header {
			width: 100%;
			justify-content: space-around;
		}
}
